In [1]:
import pandas as pd
import numpy as np

In [2]:
 movie = pd.read_csv('../data/movie.csv')

In [3]:
 movie2 = movie[['movie_title', 'title_year', 'imdb_score']]

In [4]:
movie2.sort_values('title_year', ascending=False).head()

                       movie_title  title_year  imdb_score
3884                      The Veil      2016.0         4.7
2375    My Big Fat Greek Wedding 2      2016.0         6.1
2794          Miracles from Heaven      2016.0         6.8
92    Independence Day: Resurgence      2016.0         5.5
153                Kung Fu Panda 3      2016.0         7.2

In [5]:
 movie3 = movie2.sort_values(['title_year','imdb_score'], ascending=False)

In [6]:
 movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

In [7]:
 movie_top_year = movie3.drop_duplicates(subset='title_year')

In [8]:
movie_top_year.head()

                                  movie_title  title_year  imdb_score
4312                     Kickboxer: Vengeance      2016.0         9.1
3745                          Running Forever      2015.0         8.6
4369                   Queen of the Mountains      2014.0         8.7
3935  Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                       The Dark Knight Rises      2012.0         8.5