In [1]:
import pandas as pd
import numpy as np

In [2]:
 college = pd.read_csv('../data/college.csv')

In [3]:
different_cols = ['RELAFFIL', 'SATMTMID', 'CURROPER','INSTNM', 'STABBR']

In [4]:
 col2 = college.loc[:, different_cols]

In [5]:
col2.head()

   RELAFFIL  SATMTMID  CURROPER                               INSTNM STABBR
0         0     420.0         1             Alabama A & M University     AL
1         0     565.0         1  University of Alabama at Birmingham     AL
2         1       NaN         1                   Amridge University     AL
3         0     590.0         1  University of Alabama in Huntsville     AL
4         0     430.0         1             Alabama State University     AL

In [6]:
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [7]:
original_mem = col2.memory_usage(deep=True)

In [8]:
original_mem

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [9]:
 col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [10]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [11]:
college[different_cols].memory_usage(deep=True)

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [12]:
 col2.select_dtypes(include=['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [13]:
col2['STABBR'] = col2['STABBR'].astype('category')

In [14]:
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [15]:
new_mem = col2.memory_usage(deep=True)

In [16]:
new_mem

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [17]:
 new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000695
STABBR      0.030538
dtype: float64

In [18]:
 college.loc[0, 'CURROPER'] = 10000000

In [19]:
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'

In [20]:
 college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

Index           80
CURROPER     60280
INSTNM      660752
dtype: int64